.hidden {
  display: none;
};

/* remove top and left whitespace */
 body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
  }

  /* remove scrollbars */
  canvas {
    margin: 0 auto;
    display: block;
  }

  /* remove blue outline around canvas */
  canvas:focus {
    outline: 0;
  }

  #owner-section {
    left: 5px;
    bottom: 15px;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: space-between;
  }

  #owner-section img#logo {
    width: 50px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
     user-drag: none;
     opacity:0.7;
  }

  #owner-section #close-button {
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
  }

  #owner-section #change-owner-form {
    margin-right: 15px;
  }